<style>

body {
  margin: 0 !important;
  text-align: center;
  font-family: Karla;
  display: block;
}

.headline {
  text-align: left;
  text-transform: uppercase;
  padding: 40px 15px 10px;
  letter-spacing: 3px;
  font-size: 25px;
}

.header {
  width:1280px;
  height: 0%;
}

.bio {
  text-align: justify;
  padding: 15px 25px;
  border-top: 1px solid rgba(19,164,187,.25);
  border-bottom: 1px solid rgba(19,164,187,.25);
  display: block;
  margin-bottom: -15px;
  margin-left: -10px;
}

.menulist ul {
  position: fixed;
  list-style-type: none;
}

.menulist li {
  list-style-type: none;
  display: inline;
  float: right;
  font-size: 15px;
  padding: 15px;
  letter-spacing: 2px;
  line-height: 0px;
  text-transform: uppercase;
}

</style>
